.item-card {
  width: 325px;
  height: 328px;
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #f3f3f3;
  cursor: pointer;
}

.item-card__header {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  gap: 6px;

  z-index: 2;
}

.item-card__name {
  margin: 0;
  padding: 2px 12px;

  border-radius: 4px;
  background-color: #ffffff;

  font-size: 16px;
  line-height: 20px;

  white-space: nowrap;
}

.item-card__like-button {
  width: 18px;
  height: 15px;

  border: none;
  padding: 0;
  margin: 0;

  background-color: transparent;
  background-image: url("../images/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  cursor: pointer;
}

.item-card__like-button_active {
  background-image: url("../images/heart-liked.svg");
}

.item-card__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}
