.main {
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
  flex-grow: 1;
}

.main__text {
  margin: 40px 0 34px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.main .cards__list {
  display: grid;
  grid-template-columns: repeat(4, 325px);
  gap: 20px;
  justify-content: center;
}
