.profile__sidebar {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 229px;
  flex-shrink: 0;
}

.profile__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #000;
}

.profile__name {
  margin: 0;
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
  white-space: nowrap;
}
