.weather {
  width: 100%;
  height: 80px;
  margin-bottom: 40px;
  padding: 0 16px;
  border-radius: 12px;

  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
}
.weather__temp {
  color: #fff;
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
}
