@import url("./blocks/App.css");
@import url("./blocks/Footer.css");
@import url("./blocks/Header.css");
@import url("./blocks/ItemCard.css");
@import url("./blocks/ItemModal.css");
@import url("./blocks/Main.css");
@import url("./blocks/ModalWithForm.css");
@import url("./blocks/ToggleSwitch.css");
@import url("./blocks/WeatherCard.css");
@import url("./blocks/Profile.css");
@import url("./blocks/SideBar.css");
@import url("./blocks/ClothesSection.css");
@import url("./blocks/DeleteConfirmationModal.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f3f3f3;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  font: inherit;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
